# docker build -t pegpal_server_image .
# docker run -d --rm --name "pegpal_server_container" -p 3001:3001 -e PORT=3001 -e ORIGINS="http://localhost:3000,http://localhost:5173" -e JWT_SECRET="K6Alo5Ujy6F1N6a0QCWIqX+RyNzeyMxSd8GI6Io75rA=" -e DATABASE_URL="postgresql://postgres.zvnxuyhicdudobelzjom:B1RHzKZ4TbHGtmey@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true" -e DIRECT_URL="postgresql://postgres.zvnxuyhicdudobelzjom:B1RHzKZ4TbHGtmey@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres" --network "pegpal_network" pegpal_server_image:latest

# docker build -t pegpal_client_image .
# docker run -d --rm --name "pegpal_client_container" -p 3000:3000 -e SERVER_URL="http://pegpal_server_container:3001" pegpal_client_image:latest

services:
  pegpal_server:
    image: pegpal_server_image:latest
    build: ./server
    container_name: pegpal_server_container
    ports:
      - '3001:3001'
    env_file:
      - ./server/.env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001/health"]
      interval: 30s
      timeout: 20s
      retries: 5
    networks:
      - pegpal_net

  pegpal_client:
    image: pegpal_client_image:latest
    build: ./client
    container_name: pegpal_client_container
    ports:
      - '3000:3000'
    env_file:
      - ./client/.env
    networks:
      - pegpal_net
    depends_on:
      pegpal_server:
        condition: service_healthy

networks:
  pegpal_net:
    driver: bridge
